{% extends 'userprofile/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid"> 
    <div class="row">
      <main class="">
  <div class="container-fluid outercontainer" style=" margin: 2px solid red;">
    <h1>This is Build profile page</h1>  
  </div>
  <div class="container-fluid formcontainer">
    <form action="{% url 'addprofile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h4>Genral Infomation</h4>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">First Name</label>
          <input type="text" 
                name="firstname"
                placeholder="firstname"
                value="{{user_detail_list.firstname}}"              
                class="form-control" 
                id="firstname">   
        </div>
        <div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Last Name</label>
          <input type="text" 
          name="lastname"
          placeholder="lastname"
          value="{{user_detail_list.firstname}}"              
          class="form-control" 
          id="firstname">   
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">address</label>
            <input type="text" 
            name="address"
            placeholder="address"
            value="{{user_detail_list.address}}"              
            class="form-control" 
            id="firstname">   
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Date of birth</label>
            <input type="date" 
            name="dob"
            placeholder="date of birth"
            value="{{user_detail_list.dob}}"              
            class="form-control" 
            id="firstname">   
          </div>
          {{user_detail_list.dob.}}
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">phone no</label>
            <input type="text" 
            name="phoneno"
            placeholder="phoneno"
            value="{{user_detail_list.phoneno}}"              
            class="form-control" 
            id="firstname">   
          </div>
          <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Upload image</label>
            <input type="file" 
            name="uploadimage"
            placeholder="uploadimage"
            value="{{fieldValues.uploadimage}}"              
            class="form-control" 
            id="uploadimage"
            multiple
            >   
          </div>
          <h4>Medical information</h4>  
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">weight</label>
            <input type="number" 
            name="weight"
            step=".01"
            placeholder="weight"            
            class="form-control" 
            id="firstname">   
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">height</label>
            <input type="number" 
            name="height"
            step=".01"
            placeholder="height"     
            class="form-control" 
            id="firstname">   
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
</main>
</div>
</div>
  <link href="{% static 'css/userprofile/editprofile.css' %}" rel="stylesheet">
  <script src="{% static 'js/userprofile/editprofile.js' %}"></script>

  {% endblock content %}
       