{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid outercontainer" style=" margin: 2px solid red;">
    
  </div>
  <div class="container-fluid outercontainer" style=" margin: 2px solid red;">
    <h1>This is the dashboard page</h1>  
  </div>
  <div class="container-fluid outercontainer" style=" margin: 2px solid red;">
    <h1>Medicine consumed</h1>  
  </div>
  <div class="container-fluid outercontainer" style=" margin: 2px solid red;">
    <h1>Doctor visits</h1>  
  </div>
  <div class="container-fluid outercontainer" style=" margin: 2px solid red;">
    <h1>Medical condition</h1>  
  </div>
  <div class="container-fluid outercontainer" style=" margin: 2px solid red;">
    <h1>Doctor/Hospital</h1>  
  </div>
  <div class="container-fluid outercontainer" style=" margin: 2px solid red;">
    <h1>prescription</h1>  
  </div>
  <link href="{% static 'css/dashboard/dashbaord.css' %}" rel="stylesheet">
  <!-- <script src="{% static 'js/dashboard/dashboard.js' %}"></script> -->
  {% endblock content %}
       