{% extends 'usermedicalprofile/base.html' %}
{% load static %}
{% block uppernav %}
<div class="container-fluid outercontainer" style=" margin: 2px solid red;">
    <div class="col-md-5">
   
        <div style=" border: 2px solid red;" >
           <nav aria-label="breadcrumb" >
               <ol class="breadcrumb">
                   <li class="breadcrumb-item"><a href="{% url 'usermedicaldashbaord' %}">Medical history </a></li>
                    <li class="breadcrumb-item"><a href="{% url 'addmedicalcondition' %}">Add medical conditions </a></li>
               </ol>
           </nav>
       </div>
   </div>
</div>      
{% endblock uppernav %}
{% block bodybox %}


<div class="container-fluid outercontainer">
  <h1>This is Add medical condidtion page</h1>  
</div>
<div class="container-fluid"  style=" border: 2px solid red; margin-top: 10px;">
  <form action="" method="post" >
    {% csrf_token %}
    
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Disease Name</label>
      <input type="text" 
      name="disease_name"
      placeholder="Disease Name"
      value="{{user_detail_list.firstname}}"              
      class="form-control" 
                id="firstname">   
              </div>
              <div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Date of start</label>
                <input type="date" 
                name="date_of_start"
                placeholder="date of start"
                value="{{user_detail_list.dob}}"              
                class="form-control" 
                id="firstname">   
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">symptoms</label>
                <input type="text" 
                name="symptoms"
                placeholder="symptoms"
                value="{{user_detail_list.phoneno}}"              
                class="form-control" 
                id="symptoms">   
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Body part affected</label>
                <input type="text" 
                name="body_part_effected"
                placeholder="Body part affected"
                value="{{user_detail_list.phoneno}}"              
                class="form-control" 
            id="firstname">   
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
        <link href="{% static 'css/dashboard/dashbaord.css' %}" rel="stylesheet">
        <!-- <script src="{% static 'js/dashboard/dashboard.js' %}"></script> -->
        {% endblock bodybox %}
        