{% extends 'usermedicalprofile/base.html' %}
{% load static %}

{% block uppernav %}

<div class="container-fluid outercontainer" style=" margin: 2px solid red;">
  <div class="col-md-5">

    <div style=" border: 2px solid red;">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'usermedicaldashbaord' %}">Medical history </a></li>
          <li class="breadcrumb-item"><a
              href="{% url 'viewallmedicalreport' medical_condition_id medicalconditionname %}">View all report --
              {{medicalconditionname}}</a></li>
          <li class="breadcrumb-item"><a href="">Add Report</a></li>
        </ol>
      </nav>
    </div>
  </div>
</div>

{% endblock uppernav %}

{% block bodybox %}
<div class="container-fluid outercontainer">
  <h1>This is the add medical hhhhhhhh report page</h1>
</div>
<div class="container-fluid" style=" border: 2px solid red; margin-top: 10px;">
  <form action="{% url 'addmedicalreport' medical_condition_id medicalconditionname %}" method="post">
    {% csrf_token %}
    <label for="vehicle1">QUICK ACCESS</label><br>
    <input type="checkbox" id="vehicle1" name="quickaccess" value="quickaccess">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Doctors Name</label>
      <input type="text" name="doctor_name" placeholder="doctor name" value="{{user_detail_list.firstname}}"
        class="form-control" id="firstname">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">keyword</label>
      <input type="text" 
      name="keyword"
      placeholder="keyword"          
      class="form-control" 
      id="firstname">   
    </div>
    <div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Hospital/ clinic name</label>
      <input type="text" name="hospital_name" placeholder="hospital / Clinic name"
        value="{{user_detail_list.firstname}}" class="form-control" id="firstname">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">hospital phoneno</label>
      <input type="number" name="hospital_phoneno" placeholder="hospita phoneno" value="{{user_detail_list.address}}"
        class="form-control" id="firstname">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">doctors phoneno</label>
      <input type="number" name="doctors_phoneno" placeholder="doctors phoneno" value="{{user_detail_list.address}}"
        class="form-control" id="firstname">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">hospital address</label>
      <input type="text" name="hospital_address" placeholder="hospital address" value="{{user_detail_list.address}}"
        class="form-control" id="firstname">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">doctors opinion</label>
      <input type="text" name="doctors_opinion" placeholder="doctors opinion" value="{{user_detail_list.address}}"
        class="form-control" id="firstname">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">symptoms</label>
      <input type="text" name="symptoms" placeholder="symptoms" value="{{user_detail_list.address}}"
        class="form-control" id="firstname">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Date of visit</label>
      <input type="date" name="dob" placeholder="date of visit" value="{{user_detail_list.dob}}" class="form-control"
        id="firstname">
    </div>
      <div class="mb-3">
        <label for="formFileMultiple" class="form-label">Upload prescription report</label>
        <input type="file" name="uploadimage" placeholder="uploadimage" 
          class="form-control" id="uploadimage" multiple>
      </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Medicines</label>
      <div class="inp-group" >
  
      </div>  
      <a href="" class="add btn btn-primary">Add medicine</a>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <link href="{% static 'css/usermedicalprofile/reportprofile.css' %}" rel="stylesheet">
  <script src="{% static 'js/usermedicalprofile/reportprofile.js' %}"></script>
  {% endblock bodybox %}